/**********************************
GENERAL
***********************************/

body {
  font-family: 'Open Sans', sans-serif;

}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

#ca-img img{
  box-sizing: border-box;
  /*border: 8px solid #FAF3BC;*/
  background-color: #E8E8E8;
  padding: 8px;
  margin: 6% 0 5% 0;
}

/**********************************HEADING
***********************************/

header {
  float: left;
  margin: 0 0 10px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

.calogo {
  max-width: 55%;
  border-radius: 25%;
  margin:0 auto;
  
}



#logo {  
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 2em;
  font-weight: bold;
  line-height: 0.8em;
  text-shadow: 3px 3px #003366;
}

h2 {
  font-size: 1.25em;
  margin: -5px 35px 0;
  font-weight: normal;
}



/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}



/**********************************
FOOTER
***********************************/

footer {
  font-size: 1em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}



/**********************************
PAGE: PORTFOLIO
***********************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7
}

/**********************************
PAGE: SERVICE
***********************************/

ul.service-info {
   background-color: #0F1642;
   color:#fff;
   list-style: none;
   overflow: hidden;   
   
 }

 .service-info li {
  margin: 5px 5px 5px -20px;
  padding: 5px;
  
   }
 .service-info a, .service-info a:visited {
    color: #fff;
  }

  .services h1{
    color: #ffcc00;
    letter-spacing: 1px;
    line-height: 100%;

  }

  .service-info li:hover, ul.service-info li.sub-selected {   
   background-color: #599a68;

      
  }

 
/**********************************
PAGE: MANAGEMENT SUB MENU
***********************************/

 ul.management-sub{
  display: none;
 }
 .management-sub li {
  
   }
 .management-sub a {
    color: #fff;
  }

  .service-info li:hover ul.management-sub {
    display: block;
    background-color: #0F1642;
    border: 1px solid #fff;
    list-style: none;
    position: absolute;
    margin-left: 250px;
    margin-top: -40px;
    height:auto;
    width:350px;    
}

ul.cfo-finance {
  display: none;
}

.cfo-finance a {
  color: #fff;
}

.service-info li:hover ul.management-sub li:hover ul.cfo-finance {
    display: block;
    background-color: #0F1642;
    border: 1px solid #fff;
    list-style: none;
    position: absolute;
    margin-left: 250px;
    margin-top: -40px;
    height:auto;
    width:300px;    
}










/**********************************
PAGE: CFO-FINANCE SUB MENU
***********************************/

 
 


/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #fff;
  color: #000;
}/* green header */
header {
  background: #6ab47b;
  border-color: #599a68;
}

footer {
  background: #6ab47b
}
/* nav background on mobile */
nav {
  background: #599a68;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: #6ab47b;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #32673f;
}


/* for spaces in the lines*/

ul.tax-planning{
  line-height: 220%;
}

.training-in-accounts{
  line-height: 220%;
}

p.finance{
  font-size: 1.5em;
  font-style: italic;
}

.drafting-agreements-letters{
 line-height: 230%;
}

ul.accounts-writing{
  line-height: 200%;
}

ul.finance-management{
  line-height: 200%;
}

ul.cfo-services{
  line-height: 200%;
}

ul.statutory-audit{
  line-height: 200%;
}

.contact-us {
  margin-left: 30px;
  padding-bottom: 60px;

}

address {
  line-height: 200%;
}












